
.search-box{
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 130px 40px 0;
  .search{
    display: flex;
    margin: 0 40px;
    border-radius: 5px;
    overflow: hidden;
    height: 50px;
    opacity: .8;
    input{
      height: 50px;
      line-height: 50px;
      border: none;
      width: 80%;
      opacity: .8;
      font-size: 20px;
      padding-left: 10px;
    }
    button{
      flex: 1;
      height: 100%;
      border: none;
      background: #999;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  .hot-list{
    margin: 40px 20px;
    a{
      float: left;
      padding: 10px 30px 15px 20px;

      display: inline-block;
      background: none;
      color: #aaa;
    }
  }
}


@media screen and (max-width: 640px) {
  .search-box{
    padding: 20px 0;
    .search{
      margin: 0 15px;
      height: 40px;

      input{
        height: 40px;
        font-size: 12px;
        line-height: 20px;
        width: 220px;
      }
      button{
        font-size: 14px;
        border: none;
      }
    }
    .hot-list{
      margin: 20px 10px;
      a{
        float: left;
        padding: 10px 30px 15px 20px;
        font-size: 14px;
        display: inline-block;
        background: none;
        color: #aaa;
      }
    }
  }
}
